<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>編集画面</title>
    <style>
      .red {
        color: red;
      }
      .invalid {
        border: 2px solid red;
      }
    </style>
  </head>
  <body>
    <h2>編集</h2>
    <!--更新処理を呼び出すURLを指定。で囲んだ部分には変数idが入る-->
    <!--formにバインドするオブジェクトを指定-->
    <form
      th:action="@{/update/{id}(id=${id})}"
      th:object="${person}"
      method="post"
    >
      <label>名前</label>
      <input type="text" th:field="*{name}" th:errorclass="invalid" /><br />
      <!--テキストボックスを表示。nameプロパティにバインドする-->
      <div class="red" th:errors="*{name}"></div>
      <!--バリデーションエラーがあればメッセージを表示-->

      <label>年齢</label>
      <input type="number" th:field="*{age}" th:errorclass="invalid" /><br />
      <!--数値入力欄を表示。ageプロパティにバインドする-->
      <div class="red" th:errors="*{age}"></div>
      <!--バリデーションエラーがあればメッセージを表示-->

      <label>メールアドレス</label>
      <input type="email" th:field="*{email}" th:errorclass="invalid" /><br />
      <!--メールアドレス入力欄を表示。emailプロパティにバインドする-->
      <div class="red" th:errors="*{email}"></div>
      <!--バリデーションエラーがあればメッセージを表示-->

      <button>送信</button>
      <!--フォームを送信するためのボタンを表示-->
    </form>
  </body>
</html>
